
/* -------------------- IMPORTED FONTS -------------------------------------- */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');

@font-face {
    font-family: "Kavoon";
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
}

@font-face {
    font-family: "Inter";
    src: url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Kavoon&display=swap');
}

/*-------------------- CSS REST ---------------------------------------------------*/
/* http://meyerweb.com/eric/tools/css/reset/ 
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
	margin: 0;
	padding: 0;
	border: 0;
	font-size: 100%;
	font: inherit;
	vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
	display: block;
}
body {
	line-height: 1;
}
ol, ul {
	list-style: none;
}
blockquote, q {
	quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
	content: '';
	content: none;
}
table {
	border-collapse: collapse;
	border-spacing: 0;
}



/* -------------------- CSS BY NAME -------------------------------------- */
html{

}

Body{
    font-family: "Inter";
    background-color: var(--purple);

}

h1{
    font-size: 3em;
    
}

h1, h2 {
    font-family: "Kavoon";
    color: var(--white);
}

nav{
    background-color: var(--yellow);
    text-align: right;
    top: 0;
}

nav ul{
    list-style: none;
}
nav a{
    text-decoration: none;
    
}
nav li {
    background-color: var(--yellow);
    color: var(--darkgrey);
    display: inline-block;
    margin: 0;
    padding: 10px;

}
header{
    position: relative;
}

header, footer{
    background-color: var(--lavender);
    color: var(--white);
    text-align: center;
    border-bottom-left-radius: 10px;
    border-bottom-right-radius:10px ;
    padding: 20px;
    width: 100%;
}
header p{
    background-color: var(--pink);
    color: var(--white);
    text-align: center;
    border-radius: 10px;
    width: 100%;
}


nav h2{
    visibility: hidden;
    font-size: 1.5em;

}


 h2{
    font-size: 2em;
 }

 h3{
    font-size: 1.5em;
    font-weight: bold;
    color: var(--yellow);
 }

 h4{
    font-size: 1.15em;
   
 }

 .services {
    background-color: var(--white);
    color: ;
    width: 25%;
    margin-top: 20px;
    text-align: left;
    padding: 20px;
    border-radius: 10px;
 }

 .services img{
    align-items: center;
 }

 .services h4 {
    color: var(--purple);

 }

 .services p {
    color: var(--darkgrey);
 }
#why-choose-us{
    background-color: var(--pink);
    
}

#Personal {
    
    background-color: var(--teal);
    border-radius: 10px;
    width: 25%;
    padding: 25px;
    margin: 10px;
}
#Proven {
   
    background-color: var(--lavender);
    border-radius: 10px;
    width: 25%;
    padding: 25px;
    margin: 10px;
}
#Supportive{ 
   
    background-color: var(--yellow);
    border-radius: 10px;
    width: 25%;
    padding: 25px;
    margin: 10px;
}
#Flexible {

    background-color: var(--white);
    border-radius: 10px;
    width: 25%;
    padding: 25px;
    margin: 10px;
}

table {
    background-color: var(--yellow);
    color: var(--darkgrey);
    
}
th{
    padding: 10px;
}
td{
    background-color: var(--white);
    border: 1px solid var(--yellow);
    padding: 10px;
}

#first-step {
    background-color: var(--pink);
    color: var(--white);
}
button{
    background-color: var(--white);
    padding: 20px 40px 20px 40px;
    border-radius: 10px;
    font-family: "Inter";
    font-weight: bold;
    box-shadow: 2px 2px ;
    text-transform: capitalize;

}
/* -------------------- ROOT VARIABLES --------------------------------------- */

:root {
    font-family: "Inter", serif;
    --teal:#4CA7C0;
    --purple:#484FB7;
    --lavender: #6B8FE7;
    --yellow:#E9BB57;
    --pink:#D9526F;
    --darkgrey:#1E1E1E;
    --white:#ffffff;
}



/* --------------------GLOBAL STYLES (mobile first/small) --------------------*/
/*-------------------- MEDIA QUERY (medium) --------------------------------*/
/*-------------------- MEDIA QUERY (large) ------------------------------------*/
/*-------------------- MEDIA QUERY (xl) ---------------------------------------*/